<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Invoice</title>
  <style>
    /* Add your CSS styling here */
    .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
    }
    .title img {
      width: 100%;
      max-width: 150px;
    }
    table {
      width: 100%;
      line-height: inherit;
      text-align: left;
      border-collapse: collapse;
    }
    table td {
      padding: 5px;
      vertical-align: top;
    }
    table tr td:nth-child(2) {
      text-align: right;
    }
    table tr.top table td {
      padding-bottom: 20px;
    }
    table tr.information table td {
      padding-bottom: 40px;
    }
    table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }
    table tr.details td {
      padding-bottom: 20px;
    }
    table tr.item td {
      border-bottom: 1px solid #eee;
    }
    table tr.item.last td {
      border-bottom: none;
    }
    table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <img src="https://via.placeholder.com/150" alt="Logo">
              </td>
              <td>
                Invoice #: <%= invoice.invoiceDetails.invoiceNo %><br>
                Created: <%= new Date(invoice.invoiceDetails.invoiceDate).toLocaleDateString() %><br>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                <strong>Sold By:</strong><br>
                <%= invoice.sellerDetails.name %><br>
                <%= invoice.sellerDetails.address %><br>
                <%= invoice.sellerDetails.city %>, <%= invoice.sellerDetails.state %>, <%= invoice.sellerDetails.pincode %><br>
                PAN No: <%= invoice.sellerDetails.panNo %><br>
                GST Registration No: <%= invoice.sellerDetails.gstNo %>
              </td>
              <td>
                <strong>Billing Address:</strong><br>
                <%= invoice.billingDetails.name %><br>
                <%= invoice.billingDetails.address %><br>
                <%= invoice.billingDetails.city %>, <%= invoice.billingDetails.state %>, <%= invoice.billingDetails.pincode %><br>
                State/UT Code: <%= invoice.billingDetails.stateCode %><br><br>
                <strong>Shipping Address:</strong><br>
                <%= invoice.shippingDetails.name %><br>
                <%= invoice.shippingDetails.address %><br>
                <%= invoice.shippingDetails.city %>, <%= invoice.shippingDetails.state %>, <%= invoice.shippingDetails.pincode %><br>
                State/UT Code: <%= invoice.shippingDetails.stateCode %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="heading">
        <td>Description</td>
        <td>Price</td>
      </tr>
      <% invoice.items.forEach((item, index) => { %>
      <tr class="item">
        <td><%= item.description %></td>
        <td>₹<%= item.unitPrice.toFixed(2) %></td>
      </tr>
      <tr class="item">
        <td>Quantity</td>
        <td><%= item.quantity %></td>
      </tr>
      <tr class="item">
        <td>Discount</td>
        <td>₹<%= item.discount.toFixed(2) %></td>
      </tr>
      <tr class="item">
        <td>Net Amount</td>
        <td>₹<%= item.netAmount.toFixed(2) %></td>
      </tr>
      <tr class="item">
        <td>Tax (18%)</td>
        <td>₹<%= item.taxAmount.toFixed(2) %></td>
      </tr>
      <tr class="item last">
        <td>Total Amount</td>
        <td>₹<%= item.totalAmount.toFixed(2) %></td>
      </tr>
      <% }); %>
      <tr class="total">
        <td></td>
        <td>Total: ₹<%= invoice.totalAmount.toFixed(2) %></td>
      </tr>
      <tr>
        <td colspan="2">
          <strong>Amount in Words:</strong> <%= invoice.totalAmountWords %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <strong>Signature:</strong> <%= invoice.signature %>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
